[Unit]
Description=gunicorn daemon for backend
Requires=gunicorn.socket
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/your path to project
ExecStart=/your path to project/venv/bin/gunicorn --workers 2 --bind unix:/run/gunicorn.sock config.wsgi:application

[Install]
WantedBy=multi-user.target