# ===== MAIN SETTINGS =====
DEBUG=1
SECRET_KEY=test
ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CSRF_TRUSTED_ORIGINS=https://localhost:3000
BASE_URL_LINK=http://127.0.0.1:8000/api/v1/user/auth/register/confirmations/


# ===== DATABASE =====
DB_TYPE=sqlite3
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# ===== CELERY =====
BASE_URL=
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

# ===== TELEGRAM BOT =====
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_ID=
TELEGRAM_CHANNEL_ID=

# ===== REDIS =====
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# ===== Email =====
EMAIL_HOST=
EMAIL_PASSWORD=
